/* Hero.css */
@import "../../vars.css";
.hero-section {
    height: 100vh; 
    padding: 80px 10%; 
    position: relative;
    overflow: hidden;
    background-color: #f5f5f5;
  }
  
  .content {
    max-width: 600px;
    z-index: 2;
  }
  
  .hero-img {
    height: 100vh;
    max-width: 50%;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 75% 100%, 25% 100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .highlight {
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    color: var(--color-dark); /* Maintain the same primary color */
  }
  
  .contact-btn {
    font-size: 20px;
    transition: background-color 0.3s ease, transform
     0.7s ease;
     display: inline-block; /* Ensure the button only takes the width of its content */
     width: fit-content;
  }
  
  .contact-btn:hover {
    background-color: #1DA851;
    transform: scale(1.05);
  }
  
  .contact-btn i {
    margin-right: 10px;
    font-size: 20px;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 900px) {
    .hero-section {
      flex-direction: column;
      padding: 150px 20px 20px;
      height: auto;
      text-align: center;
    }
  
    .hero-img {
      display: none;
    }
  
    .contact-btn {
      width: 100%;
      padding: 14px;
      font-size: 1rem;
      width: fit-content;
    
    }
  }
  