@import "../../vars.css";
.container {
    /* Center and space out content */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  .title {
    /* Title styling */
    font-size: 2.5rem;
    font-family: var(--font-roboto);
    font-weight: bold;
    color: var(--color-primary);
    margin-bottom: 1.5rem;
  }
  
  .services {
    /* Flexbox layout to align cards */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .services ul {
    /* Remove default list styling */
    list-style: none;
    padding: 0;
    margin: 0;
    /* Flexbox layout for list items */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .services li {
    /* Each list item has a margin for spacing */
    margin: 0 15px;
  }

  /* Responsive adjustments */
@media (max-width: 992px) {
  .title {
    font-size: 2rem; /* Adjust heading size for smaller screens */
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 1.8rem; /* Further adjust for mobile devices */
  }
}