@import "../../vars.css";

.navbar {
    background-color: #f5f5f5f6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    z-index: 1000;
    border-bottom: 2px solid #ddd;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-primary);
}

.menuBtn {
    display: block;
    cursor: pointer;
    background: none;
    border: none;
    padding: 6px;
    font-size: 20px;
    color: var(--color-primary);
    transition: color 0.3s ease;
}

.menuBtn img {
    width: 24px;
    height: 24px;
}

.menuBtn:hover {
    color: #000;
}

.menuContainer {
    width: 100%; /* Full width of the screen */
    background-color: var(--color-secondary);
    padding: 20px 0;
    border-top: 2px solid #ddd;
}

.menuItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuItems li {
    width: 100%; /* Full width for each menu item */
    text-align: center;
}

.menuItems a {
    font-size: 18px;
    color: var(--color-primary);
    text-decoration: none;
    display: block;
    padding: 15px;
    width: 100%;
    text-align: center;
}

.menuItems li:hover {
    background-color: #f5f5f5;
}

@media screen and (max-width: 900px) {
    .navbar {
        flex-direction: row;
        align-items: center;
        padding: 10px 5%;
    }

    .title {
        flex: 1;
    }

    .title img {
        height: 40px;
        max-width: 100%;
    }

    .menuBtn {
        font-size: 20px;
    }

    .menuContainer {
        position: relative; /* So it pushes content below it */
    }

    .menuItems {
        flex-direction: column;
        padding: 10px 0;
    }
}

@media screen and (min-width: 900px) {
    .menuBtn {
        display: none;
    }

    .menuContainer {
        display: none; /* Hide menu container on larger screens */
    }
}
