/* Navbar styles */
.navbar {
    background-color: #f5f5f5f6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    z-index: 1000;
    border-bottom: 2px solid #ddd;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-primary);
}

.menu {
    display: flex;
    align-items: center;
    position: relative;
}

.menuItems {
    display: flex;
    gap: 47px;
    list-style: none;
    justify-content: space-around;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.menuItems li {
    padding: 14px 20px;
}

.menuItems a {
    font-size: 16px;
    color: var(--color-primary);
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

.menuItems a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: var(--color-primary);
    transition: width 0.3s ease-in-out;
}

.menuItems a:hover::after {
    width: 100%;
}

.menuItems a:hover {
    color: #000;
}

.menuItems li a {
    text-decoration: none;
    display: block;
}

/* New navLink class for the Link component */
.navLink {
    cursor: pointer;  /* Add pointer cursor */
    font-size: 16px;
    color: var(--color-primary);
    text-decoration: none;
    transition: color 0.1s ease;
}

.navLink:hover {
    color: #000;
}

/* For smaller screens */
@media screen and (max-width: 900px) {
    .navbar {
        flex-direction: column;
        padding: 10px 5%;
    }

    .menu {
        flex-direction: column;
        align-items: flex-end;
        position: relative;
    }

    .menuBtn {
        display: block;
        cursor: pointer;
        font-size: 0;
        color: var(--color-primary);
        background: var(--color-bg);
        border: 2px solid #ddd;
        border-radius: 8%;
        padding: 5px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1001;
    }

    .menuBtn:hover {
        background-color: #f2efef;
        border: 2px solid #afacac;
    }

    .menuItems {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 24px 0;
        background-color: var(--color-bg);
        transition: max-height 0.3s ease-in-out;
    }

    .menuOpen {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        max-height: 100vh;
    }

    .menuItems a {
        font-size: 18px;
        color: var(--color-primary);
        text-decoration: none;
        display: block;
        width: 100%;
        text-align: center;
        padding: 15px;
    }

    .menuItems li {
        width: 100%;
        text-align: center;
        transition: background-color 0.3s ease;
    }

    .menuItems li:hover {
        background-color: #f5f5f5;
    }
}

@media screen and (min-width: 900px) {
    .menuBtn {
        display: none;
    }
}
